{
    Checks: '-*,performance-*,readability-*,modernize-*,cppcoreguidelines-*,bugprone-*,clang-analyzer-*,misc-*,-modernize-use-trailing-return-type,-readability-identifier-length,-bugprone-easily-swappable-parameters,-readability-math-missing-parentheses',
    WarningsAsErrors: '',
    HeaderFilterRegex: 'src/.*',
    FormatStyle:     file,
}
